
#inner {width: 200px; }

.background {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url(../img/background.jpg);
	background-size: cover;
	z-index: 0;

	}
	
.body {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	
	}
	
.topspacer {
	position: relative;
	height: 50%;
	}

.formback {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	position: relative;
	width:320px;
	height:480px;
	background-color: #D5E2C7;
	margin-left: auto; 
	margin-right: auto;
	margin-top: -240px;
	z-index:1;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	padding: 10px;
	}
	
.customerlogo {
	max-width: 300px;
	max-height: 120px;
	margin: 10px auto;
	border-radius: 10px;	
	}
	
.freeimg {
	height: 59px;}
	
.formback input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 97%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  color: #000;
  background: #eee;
  border: 1px solid #000;
  border-top: 1px solid #000;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 1;  border-radius: 7px;
  }
  
.formback  input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}  
  
.formback input[type=submit] {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #709264;
  width:97%;
  height: 44px;
  margin-left:auto;
  margin-right:auto;
	font-size: 16px;
  font-weight:800;
  border-radius: 10px;

	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.formback input[type=submit]:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #A6BE9C;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.stats {
	width: 100%;
	border-width: 1px; 
	border-collapse: collapse; 
	border-color: #c1c1c1; 
	background-color: transparent;
	font-size: 12px;
}

.error {
	color: #FF8080;
	font-size: 12px;
}