<%inherit file="base.html"/>
<%def name="head()">
<script>
    function deleteAttr(attr_id) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/domain/attr/delete?attr_id=" +attr_id;
        }
    }
    function deleteSsid(ssid_id) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/domain/ssid/delete?ssid_id=" +ssid_id;
        }
    }
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box">
    <div class="panel-heading"><i class="fa fa-archive"></i> 域信息
    <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
    </div>
        <div class="panel-body">
            <div class="container">
            <div class="pull-right">
           <div class="btn-group" role="group" aria-label="...">
            % if permit.match(current_user.username,'/domain/attr/add'):
            <a href="/domain/attr/add?domain_code=${domain.domain_code}&isp_code=${domain.isp_code}" 
            class="btn btn-sm btn-info">增加模板属性</a>
            % endif
            % if permit.match(current_user.username,'/domain/ssid/add'):
            <a href="/domain/ssid/add?domain_code=${domain.domain_code}&isp_code=${domain.isp_code}" 
            class="btn btn-sm btn-info">增加SSID</a>
            % endif
            </div>
        </div>
        <table class="table">
                <thead>
                    <tr>
                        <th colspan="6">基本信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>域名称</td>
                        <td>${domain.domain_code}</td>
                        <td>模版名</td>
                        <td>${domain.tpl_name}</td>
                        <td>域描述</td>
                        <td colspan="5">${domain.domain_desc}</td>
                    </tr>
            </tbody>
        </table>
        <hr>
        <table class="table">
            <thead>
            <tr class="active">
                <th>模板属性名称</th>
                <th>模板属性值</th>
                <th>模板属性描述</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            % for attr in attrs:
            <tr>
                <td>${attr.attr_name}</td>
                <td>${attr.attr_value}</td>
                <td>${attr.attr_desc}</td>
                <td>
                    % if permit.match(current_user.username,'/domain/attr/update'):
                <a class="opt-btn btn-default" href="/domain/attr/update?attr_id=${attr.id}">修改</a>
                    % endif
                    % if permit.match(current_user.username,'/domain/attr/delete'):
                <a class="opt-btn btn-default" href="javascript:deleteAttr('${attr.id}');">删除</a>
                    % endif
                </td>
            </tr>
            % endfor
            </tbody>
        </table>   

        <hr>
        <table class="table  ">
                <thead>
                    <tr>
                        <th colspan="4">SSID列表</th>
                    </tr>
            <tr class="active">
                <th>SSID名称</th>
                <th>SSID描述</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            % for ssid in ssids:
            <tr>
                <td>${ssid.ssid}</td>
                <td>${ssid.ssid_desc}</td>
                <td>
                    % if permit.match(current_user.username,'/domain/ssid/delete'):
                <a class="opt-btn btn-default" href="javascript:deleteSsid('${ssid.id}');">删除</a>
                    % endif
                </td>
            </tr>
            % endfor
            </tbody>
        </table>        

     
    </div>
            </div>
</div>
</div>
    </section>
</%def>