<%inherit file="base.html"/>
<%def name="head()">
<script>
    function busy(flag) {
        if (flag) {
            $("#loading").show();
            $("#inbox").html("")
            $("#inbox").hide();
        } else {
            $("#loading").hide();
            $("#inbox").show();
        }
    }

    $(document).ready(function () {
        $("#loading").hide();
        $("#inbox").hide();
    });

</script>
</%def>


<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-dashboard"></i>
            <h3 class="box-title">控制面板</h3>
        </div>
        <div class="box-body">
            <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="4"> <i class="fa fa-user"></i> 当前登录管理员</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>登录管理员</td>
                    <td>${current_user.username}</td>
                    <td>登录时间</td>
                    <td>${current_user.login_time}</td>
                </tr>
                <tr>
                    <td>登录IP地址</td>
                    <td>${current_user.ipaddr or ''}</td>
                    <td>系统版本</td>
                    <td>${sys_version or '1.0'}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th colspan="4"> <i class="fa fa-laptop"></i> 管理服务信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>监听地址</td>
                    <td>${config.admin.host}</td>
                    <td>WEB管理端口</td>
                    <td>${config.admin.port}</td>                    
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th colspan="4"><i class="fa fa-laptop"></i>  Portal 服务信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>监听地址</td>
                    <td>${config.portal.host}</td>
                    <td>协议支持</td>
                    <td>CMCC V1, CMCC V2, HUAWEI V1, HUAWEI V2, WIFIDOG</td>                    
                </tr>
                <tr>
                    <td>Portal 协议</td>
                    <td>${config.portal.vendor}</td>
                    <td>下线监听端口</td>
                    <td>${config.portal.listen}</td>                    
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th colspan="4"><i class="fa fa-laptop"></i>  AcAgent 服务信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>监听地址</td>
                    <td>${config.acagent.host}</td>
                    <td>Web 认证端口</td>
                    <td>${config.acagent.port}</td>                    
                </tr>
                <tr>
                    <td>Web 认证端口</td>
                    <td>${config.acagent.auth_port}</td>
                    <td>Portal 协议</td>
                    <td>${config.acagent.vendor}</td>                    
                </tr>
                <tr>
                    <td>Portal 重定向地址</td>
                    <td colspan="3">${config.acagent.portal_login}</td>                  
                </tr>
                <tr>
                    <td>Radius 授权端口</td>
                    <td>${config.acagent.radius.authorize_port}</td>
                    <td>Radius 记账间隔(秒)</td>
                    <td>${config.acagent.radius.interim_update}</td>                    
                </tr>
                </tbody>
            </table>



            <hr>
            <div id="loading" style="display: none;"><img style="max-height: 90px;width: auto;"
                                                          src="/static/img/loading.gif"></div>
            <div id="inbox" class="text-info" style="height:120px;overflow:auto">

            </div>
        </div>
    </div>
        </div>
</section>
</%def>

