<%inherit file="base.html"/>
<%def name="head()">
<script>
    function deleteAttr(attr_id) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/template/attr/delete?attr_id=" +attr_id;
        }
    }
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-archive"></i>
            <h3 class="box-title">模板信息</h3>
            <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
        </div>
        <div class="box-body">
            % if permit.match(current_user.username,'/template/attr/add'):
        <div class="pull-right bottom10">
            <a href="/template/attr/add?tpl_name=${tpl.tpl_name}" class="btn btn-sm btn-info">增加模板属性</a>
        </div>
            % endif
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="6">基本信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>模板名称</td>
                        <td>${tpl.tpl_name}</td>
                        <td>模板描述</td>
                        <td colspan="5">${tpl.tpl_desc}</td>
                    </tr>
            </tbody>
        </table>

        <table class="table table-hover ">
                <thead>
                    <tr>
                        <th colspan="4">模板属性列表</th>
                    </tr>
            <tr class="active">
                <th>属性名称</th>
                <th>属性值</th>
                <th>属性描述</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            % for attr in attrs:
            <tr>
                <td>${attr.attr_name}</td>
                <td>${attr.attr_value}</td>
                <td>${attr.attr_desc}</td>
                <td>
                    % if permit.match(current_user.username,'/template/attr/update'):
                <a class="opt-btn btn-default" href="/template/attr/update?attr_id=${attr.id}">修改</a>
                    % endif
                    % if permit.match(current_user.username,'/template/attr/delete'):
                <a class="opt-btn btn-default" href="javascript:deleteAttr('${attr.id}');">删除</a>
                    % endif
                </td>
            </tr>
            % endfor
            </tbody>
        </table>        
    </div>
</div>
</div>
    </section>
</%def>